body{
  background-color: rgb(235, 235, 235);
  margin: 0px;
  font-weight: bold;
  user-select: none;
}
.ljevo{
  float: right;
  position: relative;
  right: 50%;
}
.desno{
  float: right;
}
/*-------- Gumb Igraj --------*/
.btn{
  color: white;
  background-color: green;
  border: 2px solid green;
  border-radius: 5px;
  padding: 3px;
}
.btn:hover{
  transition-duration: 0.2s;
  color: white;
  background-color: darkGreen;
  cursor: pointer;
}
.btn:active{
  background-color: rgb(15, 185, 16);
}
/*-------- ^^^Gumb Igraj^^^ --------*/
/*-------- Gumbovi lista --------*/
.iskljuceno{
  transition-duration: 0.5s;
  border: 2px solid red;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 3px;
}
.iskljuceno:hover{
  background-color: crimson;
  color: white;
  cursor: pointer;
  transition-duration: 0.8s;
  border: 2px solid crimson;
}
.iskljuceno:active{
  background-color: darkRed;
}
.ukljuceno{
  transition-duration: 0.5s;
  border: 2px solid green;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 3px;
}
.ukljuceno:hover{
  background-color: limeGreen;
  color: white;
  cursor: pointer;
  transition-duration: 0.8s;
  border: 2px solid limeGreen;
}
.ukljuceno:active{
    background-color: darkGreen;
}
/*-------- ^^^Gumbovi lista^^^ --------*/
/*-------- div u kojem se nalazi pozadina --------*/
#pozadina{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(202, 223, 195);
  padding-bottom: 5px;
  padding-top: 5px;
}
/*-------- ^^^div u kojem se nalazi pozadina^^^ --------*/
/* div gdje se nalazi bodovi i rekord */
#podatci{
  padding-top: 5px;
  width: 720px;
  margin: auto;
}
.prvi{
  float: left;
  width: 15%;
}
.drugi{
  float: right;
  width: 15%;
}
#bodovi{
  float: left;
  width: 15%;
  color: green;
}
#rekordi{
  float: right;
  width: 15%;
}
/*-------- ^^^div gdje se nalazi bodovi i rekord^^^ --------*/
/*-------- div gdje su postavke --------*/
#postavke{
  width: 720px;
  margin: auto;
  margin-top: 5px;
}
#brojHrane{
  outline: none;
  padding: 2px;
  border: 2px solid red;
  border-radius: 3px;
  width: 25px;
}

#glava{
  margin-left: 10px
}
#Pmultiplayer{
  position: relative;
  left: 43%;
  margin-top: 16px;
}
#Pzvuk{
  float: right;
  position: relative;
  right: 13%;
  color: rgb(130, 69, 223);
}
#volume{
  float: left;
  margin-left: 90px;
  margin-top: 5px;
}
/*-------- ^^^div gdje su postavke^^^ --------*/
/*-------- Postavke gumb --------*/
#togglePostavke{
  margin: 1px;
  margin-left: 310px;
  color: rgb(130, 69, 223);
  border: 2px solid rgb(130, 69, 223);
  border-radius: 5px;
  padding: 3px;
}
#togglePostavke:hover{
  transition-duration: 0.2s;
  color: white;
  background-color: rgb(130, 69, 223);
  cursor: pointer;
}
#togglePostavke:active{
  background-color: rgb(166, 75, 149);
}
/*--------^^^ Postavke gumb^^^ --------*/
li{
  list-style: none;
  margin: 0px 0px 2px 0px;
}
ul{
  width: 250px;
  margin-right: 0px;
}
hr{
  border: 1px solid rgb(130, 69, 223);
}
fieldset{
  margin: 0px;
  border: 2px solid rgb(130, 69, 223);
  border-radius: 16px;
  box-shadow: 6px 6px 10px #888888;
}
option{
  background-color: rgb(235, 235, 235);
}
select{
  background-color: rgb(235, 235, 235);
  outline: none;
  border: none;
}
legend{
  border: 2px solid rgb(130, 69, 223);
  border-radius: 8px;
  padding: 2px;
}
p{
  display: inline-block;
  margin: 2px;
}
